Source: mpio
Section: misc
Priority: optional
Maintainer: Andreas Büsching <crunchy@bitkipper.net>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, cdbs, libusb-dev, libreadline5-dev
Standards-Version: 3.6.2

Package: libmpio
Architecture: any
Depends: ${shlibs:Depends}, libusb-0.1-4
Description: provides access to MPIO MP3 players

Package: libmpio-dev
Architecture: all
Depends: ${shlibs:Depends}
Description: Development files for the MPIO library

Package: mpio-tools
Architecture: any
Depends: ${shlibs:Depends}, libmpio, libreadline5
Description: MPIO Shell and MPIO Logo
