#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk


install/libgmbus-doc::
	mkdir -p debian/tmp/usr/share/doc/mpio/
